<form action="/submit" method="post" enctype="multipart/form-data">
    <label for = "name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>

    <label for="image1">Image 1:</label>
    <input type="file" id="image1" name="image1"><br><br>

    <label for="image2">Image 2:</label>
    <input type="file" id="image2" name="image2"><br><br>

    <label for="image3">Image 3:</label>
    <input type="file" id="image3" name="image3"><br><br>
    
    <label for="image4">Image 4:</label>
    <input type="file" id="image4" name="image4"><br><br>
    
    <label for="image5">Image 5:</label>
    <input type="file" id="image5" name="image5"><br><br>
    
    <label for="image6">Image 6:</label>
    <input type="file" id="image6" name="image6"><br><br>
    
    <label for="image7">Image 7:</label>
    <input type="file" id="image7" name="image7"><br><br>

    <input type="submit" value="Submit">
</form>